.blog-title {
    margin-top: 2rem;
    margin-left: 2rem;
}

.blog-content {
    padding: 1rem 2rem 0 2rem;
    text-align: justify;
    text-justify: inter-word;
}

.blog-index {
    margin-left: 1rem;
}

.blog-image {
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#agent-env {
    max-width: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.citation {
	margin-left: 2rem;
}

h5 {
	margin-top: 1.3rem !important;
}

.bullet-list {
	list-style: disc !important;
    margin-left: 2rem;
}
.blog-btn {
    color: #31273e !important;
    background-color: #eae6ef !important;
    float:right;
    border-color: #31273e !important;

}
.title-pr {
    background-color: #eae6ef !important;
}
.card {
    margin-bottom: 1rem !important;
}