
#section4{
 	width: 100%;
    position: relative;
    background-color: #a2999c;
}

#section4 .card{
	padding: 10px;
	margin: 0 5px 5px 10px;

}
#section4  .card-body{
    background: #fff;
    /*min-height: 165px;*/
    padding: 20px 10px 20px 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: block;
    position: relative;
}

#section4  .card-text{
	font-family: arial;
    color: #555;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 5px;
    text-align: justify;
    margin-bottom: 0.5rem;
    
}
#section4  .row{
	width:90%;
	min-height : 80vh;
	margin-left: 20px;
	padding-left: 20px;
    
}
#section4 col{

	height:30%;
	position: relative;
	background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}
 #section4 .col:hover {
  	transform: translateY(-0.5%);
  	box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.3);
}
#section4 .card-img-top{
	height: 20vh;
}

.card-btn {
	float:right;
	display: block;
	width: 40%;
	padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
 	border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  	cursor: pointer;
  	letter-spacing: 0.1rem;
}

.card-btn span {
  	margin-left: 1rem;
  	transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  	background-color: #c2cffc;
}
