.main-timeline{ font-family: 'Barlow', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.timeline strong{
    color: #555;
    letter-spacing: 1px;
}
.main-timeline .timeline{
    width: 50%;
    padding: 10px;
    margin: 0 5px 5px 10px;
    float: left;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-content{
    background: #fff;
    min-height: 165px;
    padding: 20px 20px 60px 140px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
    content: "";
    background: #561717;
    width: 80px;
    height: 60%;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}
.main-timeline .timeline-content:after{
    top: auto;
    left: auto;
    bottom: -10px;
    right: -10px;
}
.main-timeline .timeline-year{
    color: #fff;
    background: #561717;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    line-height: 165px;
    width: 95px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 20px;
    top: -12px;
    bottom: -12px;
}
.main-timeline .timeline-year:before{
    content: "";
    background: linear-gradient(to top right, #6C433F 49%, transparent 50%);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    right: -12px;
}
.main-timeline .timeline-icon{
    color: #561717;
    font-size: 35px;
    line-height: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.main-timeline .title{
    color: #561717;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 3px 0;
}
.main-timeline .description{
    color: #555;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
    text-align: justify;
}
.main-timeline .timeline:nth-child(even){
    float: right;
    margin: 0 0 0 5px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 20px 140px 60px 20px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    left: auto;
    right: -10px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:after{
    right: auto;
    left: -10px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.3);
    left: auto;
    right: 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-year:before{
    transform: rotateY(180deg);
    right: auto;
    left: -12px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    right: auto;
    left: 10px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before,
.main-timeline .timeline:nth-child(4n+2) .timeline-content:after,
.main-timeline .timeline:nth-child(4n+2) .timeline-year{
    background: #561717;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-icon,
.main-timeline .timeline:nth-child(4n+2) .title{
    color: #561717;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-year:before{
    background: linear-gradient(to top right, #af5807 49%, transparent 50%);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before,
.main-timeline .timeline:nth-child(4n+3) .timeline-content:after,
.main-timeline .timeline:nth-child(4n+3) .timeline-year{
    background: #561717;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-icon,
.main-timeline .timeline:nth-child(4n+3) .title{
    color: #561717;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-year:before{
    background: linear-gradient(to top right, #041b2b 49%, transparent 50%);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before,
.main-timeline .timeline:nth-child(4n+4) .timeline-content:after,
.main-timeline .timeline:nth-child(4n+4) .timeline-year{
    background: #561717;
}
.main-timeline .timeline:nth-child(4n+4) .timeline-icon,
.main-timeline .timeline:nth-child(4n+4) .title{
    color: #561717;
}
.main-timeline .timeline:nth-child(4n+4) .timeline-year:before{
    background: linear-gradient(to top right, #345614 49%, transparent 50%);
}
@media screen and (max-width:767px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        margin: 0 0 20px 0;
    }
}
@media screen and (max-width:479px){
    .main-timeline .timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        padding: 60px 20px;
    }
    .main-timeline .timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        height: 55px;
        line-height: 55px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        right: 10px;
        left: auto;
    }
    .main-timeline .timeline:nth-child(even) .timeline-year{
        top: -10px;
        bottom: auto;
        left: 10px;
    }
}
