body {
    padding: 0;
    margin: 0;
    font-family: arial;
    scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none !important;
}

nav {
	margin-top: 20px;
	width:18%;
	display: block;
	justify-content: space-around;
	position: fixed;
	text-align: right;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
}

nav ul {
	display: block;
	margin-top: 10px;
	padding: 10px;
	padding-left: 30px
	/*padding-right: 30px;*/
}
nav ul li{
	border-bottom: 1px solid #5e42a6;
  	border-bottom: 1px linear-gradient(to right, #5e42a6, #b74e91);
  	border-top: 1px solid linear-gradient(to right, #5e42a6, #b74e91);
}

nav li a {
	/*padding-right: 30px;*/
	line-height: 60px;
	margin-top: 3px;
	display: block;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	color: #9a8888;
	
}
&.menu a {
      color: white;
    }
nav ul li a:hover{
	color: #FFFFFF;
	transition: all ease 0.2s;

}
section {
	min-height: 100vh;
}
.home-img{
	height: 60%;
	border-radius:50%;
	width:60%;
	top:10%;
	left:50%;
    border:1px solid @color-1st;
    box-shadow:0 0 0 2px #a2999c;
    overflow: hidden;
}

.dp{
	left:50%;
	padding:2em 0 1em 0;
	text-align:center;
	}

.dp h2{
	padding-top: 10px; 
	color: #a2999c;
	font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
	letter-spacing: 1px;
	line-height: 
	text-transform: uppercase;
  	text-align: center;
}

.heading{
    color: #555;
    font-size:30px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;

}
/*--------------Header CSS----------*/
#section1 {
    width: 100%;
    position: relative;
    background-color: #a2999c;
    background-position: center;
    background-size: cover;
}
.home-text .fa{
	padding:5px;
	font-size: 15px;
}
#section2 {
    /*height:100vh;*/
    width: 100%;
    position: relative;
    background-color: #a2999c;

}

.content-box {
	position: relative;
	width: 95%;
	margin: 0 auto;
	min-height: 100px;
	overflow: auto;
	background-color: #31273e;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.userbox1{
	width: 20%;
	min-height: 100vh;
	display:block;
	position: relative;
	float: left;
	background-color: #31273e;
}

.fixed{
	position:fixed;
	z-index: 1;
}
.userbox2{
	width: 80%;
	min-height: 100vh;
	display:block;
	position: relative;
	background-color: #fff;
	float: left;
}

.home-image {
	background-image: url("img/bg1.jpg");
	background-size: cover;
	background-repeat: none; 
	min-height: 100vh;
	position:fixed;
}

.userbox3 {
	position: relative;
	float: right;
	margin-right: 10px;
	padding: 50px 0;
	width: 50%;
	color: #FFF;
	text-align: justify;
}

.btn-home{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 1em 0.3em 0;
	border:0.16em solid #22215f;
	border-radius: 0.4rem;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#22215f;
	text-align: center;
	transition: all 0.2s;
}
.btn-home:hover {
	background-color:#22215f;
	color:#fff;
}
@media all and (max-width:30em) {
	.btn-home {
		display:block;
		margin:0.2em auto;
		}
}
#section3{
	width: 100%;
    position: relative;
    background-color: #a2999c;

}
/*-------------Contact -----------------*/
#section5 .userbox2{
	background-color: #a2999c;
	font-size: 20px;
	color: #000;
	text-align: center;
}
#section5 {
	width: 100%;
    position: relative;
    background-color: #a2999c;
}

#section5 h2{
	font-size: 40px;
	color: #000;
}
#section5 a{
	font-size: 20px;
	color: #a2999c;
}

.sec2{
	background-color: #000;
	min-height:37vh;
	position:relative;
	color:#000;
}

.btn-contact{
	display: block;
	width: 19vh !important;
	padding: 0.1rem;
	font-size: 1rem;
	margin:1em 0 1em 30em;
	text-align: center;
	color: #000;
	background-color: #a2999c;
	border: none;
	border-radius: 0.4rem;
	transition: 0.2s;
	cursor: pointer;
	letter-spacing: 0.1rem;
}

.btn-contact span {
  	margin-left: 1rem;
  	transition: 0.2s;
}

.btn-contact:hover,
.btn-contact:active {
  	background-color: #413452;
}

}
#section5 hr{
	background-color: #fff;
	height:3px;
}
.sec2 .col-md-4{
	margin-top: 90px;
}
.sec2 .fa{
	padding:7px;
	font-size: 30px;

}



